* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #941717, #000000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 380px;
    padding: 20px;
}

.login-box {
    background: linear-gradient(135deg, #2c2a2a, #000000);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(241, 241, 241, 0.2);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #ffffff;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 14px;
    color: #f82d2d;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    margin-top: 5px;
    font-size: 15px;
}

.input-group input:focus {
    border-color: #ffffff;
    outline: none;
}

.btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #1f0404, #a51d1d);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #520a0a;
}

.register-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register-text a {
    color: #aa2f2f;
    text-decoration: none;
    font-weight: bold;
}

.register-text a:hover {
    text-decoration: underline;
}

.register-text {
    color: rgb(255, 255, 255);   /* “Não tem conta?” */
}
